:root {
  --site-main-color: #000000;
  --van-nav-bar-icon-color: #000000;
  --van-tabs-bottom-bar-color: #000000 !important;
  --van-tab-active-text-color: #000000 !important;
  --van-switch-on-background-color: #000000 !important;
}
